extends base

block content
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Log into your account
            form.form.form--login
                .form__group
                    label(for="email").form__label Email address
                    input(type="email", placeholder="you@example.com", required)#email.form__input
                .form__group.ma-bt-md
                    label(for="password").form__label Password
                    input(type="password", placeholder="••••••••", required, minlength="8")#password.form__input
                .form__group
                    button.btn.btn--green Login